#main{
	width:500px;
	height:600px;
	margin:auto;
	border: 2px solid blue;
}
span{
	color:red;
	margin:0 10px;
}

input{
	margin: 10px;
}

textarea{
	border:1px solid green;
	width:475px;
	height:300px;
	margin:10px;
}
