#main{
	width:500px;
	height:600px;
	margin:auto;
	border: 2px solid blue;
}
span{
	color:red;
	margin:0 10px;
}

input{
	margin: 10px;
}
body{
	width:1111111px;	height:px;
	margin:10px;
//new comit deelete it if you want it =)
}

body{
	width:475px;
	height:300px;
	margin:10px;
}
// I tray add file

textarea{
	border:1px solid green;
	width:475px;
	height:300px;
	margin:10px;
}
